*
{
	/*font-family: "Lucida Console", Monaco, monospace;*/
	-ms-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .2s ease-out;
}

body
{
	/*overflow: hidden;*/
	#background-color: cyan;
}

input
{
}

footer
{
	#position:fixed;
	bottom:2em;
	font-size: 0.8em;
}


strong
{
	margin: 1em;
}

table
{
	border-collapse: unset;
}

td
{
	border-width: medium;
	border-color:  0x000;
}

td span.n
{
	position: absolute;
	top: 1px;
	left: 1px;
	width: 8px;
	height: 8px;
	font-size: .8em;
	font-weight: 600;

}

tbody td
{
	width: 40px;
	height: 40px;
	font-size: 2em;
	background-color: #add;
	text-align: center;
	position: relative;
	border-width: medium;
	border-color:  0x000;
	line-height: 1em;
}

tbody td:hover
{
	-khtml-opacity:.65;
	-moz-opacity:.65;
	-ms-filter:”alpha(opacity=65)”;
	filter:alpha(opacity=65);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.65);
	opacity:.65;
	background-color: #439c39;
}

td.focus_across , td.focus_down
{
	background-color: #326e7b;
	color: white;
}

td.black
{
	background-color: black;
}

td.black:hover
{
	-khtml-opacity:1;
	-moz-opacity:1;
	-ms-filter:”alpha(opacity=100)”;
	filter:alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
	opacity:1;
	background-color: black;
}

td.selected_cell
{
	-khtml-opacity:.65;
	-moz-opacity:.65;
	-ms-filter:”alpha(opacity=65)”;
	filter:alpha(opacity=65);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.65);
	opacity:.65;
}


.clues_across, .clues_down
{
	border-width: 0.4em;
	border-radius: 0.3em;
	height: 250px;
	width: 430px;
	background: #add;
	overflow: auto;
}

.clues_across div, .clues_down div
{
	padding: 0.2em;
	border-radius: 0.3em;
	cursor:pointer;
}

.clues_across div:hover , .clues_down div:hover
{
	-khtml-opacity:.65;
	-moz-opacity:.65;
	-ms-filter:”alpha(opacity=65)”;
	filter:alpha(opacity=65);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.65);
	opacity:.65;

	background-color: blue;
	color: white;
}

.puzzle
{
	position: relative;
	text-align: center;
	padding: 1em;
}

.selected_clue
{
	-khtml-opacity:.65;
	-moz-opacity:.65;
	-ms-filter:”alpha(opacity=65)”;
	filter:alpha(opacity=65);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.65);
	opacity:.65;

	background-color: blue;
	color: white;
	font-size: 1.3em;
}
.selected_clue_min
{
	-khtml-opacity:.65;
	-moz-opacity:.65;
	-ms-filter:”alpha(opacity=65)”;
	filter:alpha(opacity=65);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.65);
	opacity:.65;
	color: white;
	font-size: 1.1em;
}

.buttons
{
	text-align: center;
}

.clues, .grid
{

	display: inline-block;
}

.grid
{
	position: relative;
	cursor: default;
}

.clues
{
	position:relative;
	text-align: left;
	vertical-align: top;

}

.answer
{
	display: none;
}

.right
{
	color: #00c200;
}

.wrong
{
	color: red;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
