extends layout

block content
  h1 PUZ fitxategia kargatu
  form(method='POST', action='/puzzles/upload', enctype='multipart/form-data')
    label Puz Fitxategia    
    input.form-control(name='filename', type='file' required)
    br
    input.btn.btn-primary(type='submit', value='Puzlea kargatu')
